@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #0f141e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

.avatar {
    width: 160px;
    border-radius: 28px;
    /*box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);*/
    margin-bottom: 15px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 15px;
}

/*Box Model*/
.container {
    max-width: 70%;
    margin: auto;
}



.card{
    padding: 10px 20px;
    background: red;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}
.bg-grey {
    background: #e7e7e7;
}

.list {
    padding: 0px;
    list-style: none;
    margin: 10px 0;
}

.list li {
    padding-bottom: 5px;
}

.table {
    width: 550px;
    margin: 10px 0;
}

.p {padding: 0px;
    margin: 0;
}

h2 {
    margin: 10px 0;
}

.info {
    display: flex;
}

.myname {
    margin: 15px 40px;
}